:host {
  display: block;
  width: 100%;
  position: relative;
  z-index: 9999;
  font-family: 'Architects Daughter';
  h1 {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 48px;
    color: #ffffff;
  }
}


